#automation-pipeline {
  code {
    font-size: 0.8rem;
  }
  .table th {
    white-space: nowrap;
  }
}

.btn-pipeline {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .btn-pipeline {
    width: auto;
    max-width: none;
  }
}
